
    <ion-header>
      <ion-toolbar>
        <ion-title>Agregar Tarea</ion-title>
        <!--
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Cerrar</ion-button>
        </ion-buttons>
        -->
      </ion-toolbar>
      
    </ion-header>
    <ion-content class="ion-padding">

      <form #tareaForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-input label="Nombre" name="nombre"  placeholder="Ingrese el nombre de la tarea..." name="textInput" [(ngModel)]="nuevaTarea.nombre" required="true" mode="md" fill="outline"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select name="mes" label="Mes" interface="popover"  slot="start" [(ngModel)]="nuevaTarea.mes" required="true" mode="md" fill="outline">
              <ion-select-option value="01">Enero</ion-select-option>
              <ion-select-option value="02">Febrero</ion-select-option>
              <ion-select-option value="03">Marzo</ion-select-option>
              <ion-select-option value="04">Abril</ion-select-option>
              <ion-select-option value="05">Mayo</ion-select-option>
              <ion-select-option value="06">Junio</ion-select-option>
              <ion-select-option value="07">Julio</ion-select-option>
              <ion-select-option value="08">Agosto</ion-select-option>
              <ion-select-option value="09">Septiembre</ion-select-option>
              <ion-select-option value="10">Octubre</ion-select-option>
              <ion-select-option value="11">Noviembre</ion-select-option>
              <ion-select-option value="12">Diciembre</ion-select-option>
            </ion-select>
            <ion-select name="año" label="Año" interface="popover"  slot="start" [(ngModel)]="nuevaTarea.anio" required="true" mode="md" fill="outline">
              <ion-select-option value="2024">2024</ion-select-option>
              <ion-select-option value="2025">2025</ion-select-option>
              <ion-select-option value="2026">2026</ion-select-option>
              <ion-select-option value="2027">2027</ion-select-option>
              <ion-select-option value="2028">2028</ion-select-option>
              <ion-select-option value="2029">2029</ion-select-option>
              <ion-select-option value="2030">2030</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-textarea
            label="Descripción"
            placeholder="Ingrese una descripción..."
            [autoGrow]="true"
            name="descripcion"
            [(ngModel)]="nuevaTarea.descripcion"
            required
            ></ion-textarea>
          </ion-item>
        </ion-list>
        <ion-button expand="block" color="success" [disabled]="tareaForm.invalid" (click)="agregarTarea()">Agregar</ion-button>
      </form>
    </ion-content>
  
